html, body, #app {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
}

.editors-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.editors-container div {
    width: 50%;
}

.settings {
    height: 25px;
}
