@using System.IO.Compression;
@using System.Net.Http
@using System.Net.Http.Json
@using Basic.Reference.Assemblies;
@using Draco.Compiler.Api.Syntax;
@using ICSharpCode.Decompiler.Disassembler;
@using ICSharpCode.Decompiler;
@using ICSharpCode.Decompiler.Metadata;
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components.Web.Virtualization
@using Microsoft.AspNetCore.Components.WebAssembly.Http
@using Microsoft.CodeAnalysis.CSharp;
@using Microsoft.CodeAnalysis;
@using Microsoft.CodeAnalysis.Emit;
@using Microsoft.JSInterop
@using BlazorMonaco
@using System.Text;
@using Draco.Compiler.Api.Scripting;
@using System.Diagnostics.CodeAnalysis;
@using Draco.Compiler.Internal.Codegen;
@using System.Reflection.PortableExecutable;

@inject IJSRuntime JS
@inject NavigationManager NavigationManager

<div class="settings">
    <select @onchange="OnOutputTypeChange">
        <option value="Run">Run</option>
        <option value="CSharp">C#</option>
        <option value="IL">IL</option>
    </select>
</div>
<div class="editors-container">
    <MonacoEditor Id="draco-editor" @ref="DracoEditor" ConstructionOptions="DracoMonacoOptions" OnDidChangeModelContent="CodeChange" />
    <MonacoEditor Id="output-viewer" @ref="OutputViewer" ConstructionOptions="OutputMonacoOptions" />
</div>
