name: 'Deploy playground to GitHub Pages'

on:
  workflow_dispatch:
  push:
    branches: [main]
    paths:
    - 'src/**'

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: write
  pages: write
  id-token: write
  deployments: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    # Deploy to the github-pages environment
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
    - name: Clone the repo
      uses: actions/checkout@v3

    - name: Setup Node.js environment
      uses: actions/setup-node@v3.5.1
      with:
        node-version: 18

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '8.0.x'

    - name: Run tests
      run: dotnet test ./src

    - name: Publish with dotnet
      working-directory: 'src/Draco.Editor.Web'
      run: dotnet publish --configuration Release --output build

    - name: Setup Pages
      uses: actions/configure-pages@v2

    - name: Upload GitHub Pages artifact
      uses: actions/upload-pages-artifact@v1.0.4
      with:
        path: 'src/Draco.Editor.Web/build/wwwroot'

    - name: Deploy GitHub Pages site
      uses: actions/deploy-pages@v1.2.2
